# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
venv./
*.egg-info/

# Tests
.coverage
htmlcov/
.pytest_cache/

# Env
.env

# Node
node_modules/

# Jobs/temp
jobs/
Untitled Document

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
